.asli {
    text-align: center;
    color: white;
    margin-bottom: 100PX;
}

#masukan {
    margin-left: 80px;
}

#nan {
    background-color: aqua;
    border-radius: 7px;
}

#ani {
    font-size: 23px;
    color: rgb(0, 0, 0);
    border-radius: 7px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
}

body {
    background-image: url("gambar.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}